<!DOCTYPE html>
<html>
<head>
    <title>Customer Orders</title>
</head>
<body>
    <h1>Customer Orders</h1>
    <table border="1">
        <tr>
            <th>Customer ID</th>
            <th>Order ID</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Price</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
